<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true"
         verbose="false"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="DATABASE_URL" value="mysql://root:root@mysql:3306/docu-pet-db?serverVersion=8.4.2"/>
        <env name="CORS_ALLOW_ORIGIN" value="*"/>
    </php>
</phpunit>
